<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <title>fitindia</title>
    <style>
        *{
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <nav id="navbar">
        <h3>fitIndia</h3>
        <a href="/">HOME</a>
        <a class="active" href="/blogs">BLOGS</a>
        <a href="/training">TRAINING</a>
        <a href="/foods">FOODS</a>
        <a href="/contact">CONTACT US</a>
    </nav>
    </nav>

    <p id="para4"> 
        BLOGS
    </p>

    
    <footer>
        &copy; FitIndia with 2021 proudly made by Abhishek dev
    </footer>
</body>
</html>