<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">  
     <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <title>fitindia</title>
</head>
<body>
    <nav id="navbar">
        <h3>fitIndia</h3>
        <a href="/">HOME</a>
        <a href="/blogs">BLOGS</a>
        <a href="/training">TRAINING</a>
        <a class="active" href="/foods">FOODS</a>
        <a href="/contact">CONTACT US</a>
    </nav>
    </nav>

    <p id="para3">
    </p>
    <div id="section-food">
        <div class="card-food">
            <div class="card-text-food">
                <h2>Good Food.</h2>
                <p> The item you should include in your daily routine </p>
                <ul>
                    <li>penaut butter</li>
                    <li>Milk</li>
                    <li>fruits</li>
                    <li>Eggs</li>
                    <li>chicken breast</li>
                    <li>low fat curd</li>
                    <li>oats</li>
                    <li>green vegies</li>
                </ul>
            </div>
        </div>
        <div class="card-food">
            <div class="card-text-food">
                <h2>Bad Food</h2>
                <p>You may eat these foods also but in less quantity you may eat these 1-2times in a week</p>
                <ul>
                    <li>penaut butter</li>
                    <li>Milk</li>
                    <li>fruits</li>
                    <li>Eggs</li>
                    <li>chicken breast</li>
                    <li>low fat curd</li>
                    <li>oats</li>
                    <li>green vegies</li>
                </ul>
            </div>
        </div>
    </div>

    
    <footer>
        &copy; FitIndia with 2021 proudly made by Abhishek dev
    </footer>
</body>
</html>