<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Kaushan+Script&display=swap" rel="stylesheet">
    <title>fitindia</title>
</head>
<body>
    <nav id="navbar">
        <h3>fitIndia</h3>
        <a class="active" href="/">HOME</a>
        <a href="/blogs">BLOGS</a>
        <a href="/training">TRAINING</a>
        <a href="/foods">FOODS</a>
        <a href="/contact">CONTACT US</a>
    </nav>
         <h1 id="h1">START WITH ME</h1>
        <p id="para"> I made this webpage for influencing the pepole to live a healthy life i know this website not make you a bodybuilder but helps you to give a great start. I have made this webpage by my own expriences and included a great bodyweight trainings and a foods that you can include in our daily diet and, for any kind of information or for help you can also contact me. 
        <h2 id="h2">THANK YOU!</h2>
        <button id="btn2"><a href="/training">Explore More</a></button>
        </p>

    <div id="section">
        <a  class="anchor" href="/foods">
           <div class="card">
               <div id="card-image"> <img src="/static/foods.jpg" alt="" width="305" height="150"></div>
               <div class="card-text1">
                   <h2>Eat Healthy</h2>
                   <p>Include healthy food in your daily routine. By seeing the give chart.</p>
                   <span class="txt">click on the card</span>
               </div>
           </div>
        </a>
        <a  class="anchor" href="/training">
           <div class="card">
            <div id="card-image2"><img src="/static/bodyweight.jpg" alt=""width="305" height="150"></div>
            <div class="card-text2">
                <h2>Bodyweight Training</h2>
                <p>Change your daily routine and add some awesome workout.</p>
                <span class="txt">click on the card</span>
            </div>
            </div>
        </a>
        <a  class="anchor" href="/blogs">
        <div class="card">
            <div id="card-image3"><img src="/static/blog.jpg" alt=""width="305" height="150" ></div>
            <div class="card-text3">
                <h2>Blogs</h2>
                <p>Read some awesome blogs for enhancing your knowledge related to fitness and, you can add your own blog also. </p><span class="txt">click on the card</span>
            </div>
            </div>
        </a>
    </div>
    <footer>
        &copy; FitIndia with 2021 proudly made by Abhishek dev
    </footer>
</body>
</html>