<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <title>fitindia</title>
</head>
<body>
    <nav id="navbar1">
        <h3>fitIndia</h3>
        <a href="/">HOME</a>
        <a href="/blogs">BLOGS</a>
        <a class="active1" href="/training">TRAINING</a>
        <a href="/foods">FOODS</a>
        <a href="/contact">CONTACT US</a>
    </nav>
    </nav>

    <p id="para2">
        <h1 id="Theading">BODYWEIGHT TRAINING</h1>
        <svg id="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,320L1440,64L1440,320L0,320Z"></path></svg>
    </p>
    <div>
        <h2>push ups</h2>

        <img src="" alt="push ups">

        <h3>About & Benifits</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, ipsum, repellendus quibusdam accusamus rem animi perspiciatis dolorum est corrupti mollitia voluptates aspernatur beatae!</p>

        <h3>How to perform</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ipsum quos error tempore quo, fuga nihil, aliquid, cupiditate beatae fugiat dignissimos cum non.</p>
    </div>

    <footer>
        &copy; FitIndia with 2021 proudly made by Abhishek dev
    </footer>
</body>
</html>